button {
    width: 250px;
    height: 80px;
    font-family: Roboto, sans-serif;
    font-size: 35px;
    font-weight: bold;
    color: red;
    border: 2px solid white;
    border-radius: 15px;
    margin: 5px;
    cursor: pointer;
}

button:hover{
    background-color: #ff00e1;
}

.boton-click{
    background-color: #13cf16;
}

.boton-reboot{
    background-color: #d11500;
}
